.body {
	background-color: white;
	padding: 40px;
}

.border-box {
	border: 3px;
	padding: 50px 40px;
	max-width: 900px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 8px;
	position: relative;
	min-height: 800px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	color: #5a5656;
	left: 20%;
	padding: 30px;
}

.title2 {
	font-size: 25px;
	text-align: center;
	padding: 30px;
	font-weight: bold;
	color: #5a5656;
}

.table thead th {
	color: #5a5656;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 12px;
	background-color: white !important;
}

.table tbody td {
	text-align: center;
	padding: 12px;
}

.btn-main {
	background-color: #0095a8;
	color: white;
	border: none;
	padding: 8px 20px;
	border-radius: 4px;
	position: absolute;
	bottom: 30px;
	right: 40px;
}

.pagination {
	margin-top: 30px;
	font-size: 15px;
	color: #333;
	justify-content: center;
	align-content: center;
}

.pagination span {
	margin: 0 8px;
	cursor: pointer;
}