
iframe{
    width: 643px;
    height: 455px;
}
.location-text{
    width: 643px;
    height: 72px;
    margin: 0 auto; 
}

.location-text-detail{
    width: auto;
}
.fs-20 {
  font-size: 20px;
}
.fs-15 {
  font-size: 15px;
}