
.main-img{
    height: 907px;
    width: auto;
    display: block;
}


.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 1360px;
  height: 350px;
   margin: 0;
  padding: 0;
  border: none;
  object-fit: cover;
}
 
#carouselSlide {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
	background-color:black;
  border-radius: 50%;
}

.card{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.5);
}
.card:hover{
    transform: translateY(-5px) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2) !important;
    transition: all 0.3s ease !important;
}