/* 읽기 화면 */

/* 외곽선 */
.info-area {
	width: 700px;
	height: 400px;
	background-color: white;
	box-shadow: 0 0 0 1px #ccc;
	box-sizing: border-box;
}

/* 읽기 화면 영역 표시 */
.info-item-area {
	width: 650px;
	height: 47px;
	box-sizing: border-box;
}

/* 데이터 표시 영역 */
.info-box {
	background-color: #f1f1f1;
	padding: 0.5rem 0.75rem;
	border-radius: 4px;
	color: #333;
}

.ok-btn {
	width: 650px;
	/* height: 50px; */
}
